/* CSS RESET */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

body {
    max-width: 800px;
    min-height: 100vh;
    background: linear-gradient(rgb(106, 106, 160),whitesmoke); 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    font-size: 1em;
    align-self: flex-start;
    margin-left: 400px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-h1 {
    color: whitesmoke; 
    margin-top: 40px;
}

.main-container {
    margin-left: 500px;
    max-width: 400px;
    flex-direction: column;
    background-color: #528ab4;
    align-self: center;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    line-height: 1.25rem;
}

.main-container:hover {
    background-color: #95d6ea;
}

footer {
    position: sticky;
    align-self: center;
    margin-left: 500px;
}  

.notification {
    display: none;
}

.temperature-el {
    cursor: pointer;
}